@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: sans-serif;
  background-color:rgb(245, 245, 245);
  width: 100%;
  height: 100%;
 
  @apply font-sans;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: white; */
}@keyframes shine-gradient {
  0% { transform: translateX(-100%) rotate(15deg); }
  100% { transform: translateX(100%) rotate(15deg); }
}

.animate-shine-gradient {
  animation: shine-gradient 1.5s infinite;
}